:root {
  --primary-color: #071629;
  --secondary-color: #FF6565;
  --text-font-base: 14px;
  --text-font-large: 24px;
  --text-color-dark: #071629;
  --text-color-white: #ffffff;
  --large-spacing: 1rem;
  --small-spacing: 0.5rem;
  --links-hover_active: #ff6565;
  --links-active: 0.9;
}

.nav_hidden {
    display: none;
}

@media only screen and (max-width: 375px) {
    .header-nav ul {
        display: none;
    }
}

@media only screen and (min-width: 768px) {

    .offer_container, .stat_parent_container {
        margin: 0 auto;
        width: 80%;
    }

    .offer_data_container, .stat-data {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }

    .statistics {
        padding: 0;
    }

    .stat-data {
        margin: 0 auto;
    }

     footer {
        flex-direction: row;
        justify-content: space-between;
    }

     footer p {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        max-width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .stat_parent_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .offer_container {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .offer_data_container {
        width: min-content;
        flex-direction: row;
        gap: 2rem;
    }

    .hero {
        padding: 1rem;
    }

    header {
        justify-content: space-between;
    }

    .header-details  p, .what-We-do-offer p, .statistics p, .form-container {
        width: 45%;
        margin: 0 auto;
        text-align: center;
    }

    .header-nav {
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0 2rem;
        width: 60%;
    }

    .header-nav ul {
        display: flex;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    ul li {
        margin: 0;
    }
    
    footer {
        flex-direction: row;
        justify-content: space-around;
    }

    
}