:root {
  --primary-color: #071629;
  --secondary-color: #FF6565;
  --text-font-base: 14px;
  --text-font-large: 24px;
  --text-color-dark: #071629;
  --text-color-white: #ffffff;
  --large-spacing: 1rem;
  --small-spacing: 0.5rem;
  --links-hover_active: #ff6565;
  --links-active: 0.9;
}

.nav_hidden {
    display: none;
}

@media only screen and (max-width: 480px) {
    .header-nav ul {
        display: none;
    }
}