:root {
  --primary-color: #FFFFFF;
  --secondary-color: #C271FF;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  max-width: 2000px;
  margin: auto;
}

ul, nav, body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: bold;
}

.author_container > p {
  font-size: 18px;
  margin: 1.5rem 0px;
}

.author {
  flex-direction: column;
  align-items: center;
}

.author * {
  margin: 2px 0px;

}

.authors {
  justify-content: space-around;
  font-size: 12px;
  width: 80%;
}

.authors div img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn {
  border: 0;
  border-radius: 13px;
  padding: 0.4rem 1.4rem;
  font-size: 10px;
  color: var(--primary-color);
}

.register-btn {
  background-color: var(--secondary-color);
}

.hero_container {
  background-image: url('/Asset/images/Object.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.6rem;
  color: var(--primary-color, "white");
  min-height: 85vh;
}

.hero_section {
  flex-direction: column;
  justify-content: space-between;
}

.hero_title_container, .author_container {
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.hero-text p {
  font-size: 0.7rem;
  font-weight: bold;
}

header, 
nav ul,
.hero_section, 
.hero_title_container, 
.hero-text, 
.author_container,
.authors,
.author {
  display: flex;
}

header {
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

header a img {
  height: 24px;
}

nav ul, .hero-text {
  gap: 20px;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

.learn {
  color: var(--secondary-color);
  font-weight: bolder;
}